body{
	background-color:  #00b3b3;
	color: white;

}
.link{
	color: white;
	text-decoration-line: none;
	font-size: 60px;
	font-family: arial;
	font-weight: 2px;
}
.link:hover{
	color: white;
	text-decoration-line: none;
}

div{
	margin: 20px;

}

img{
	height: 200%
	width:200%;
	margin:50px
}